body {
  color: white;
  background-image: url("200w.webp");
  background-size: cover;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}
.btn {
  padding: 6px 12px;
  background-color: wheat;
  border: none;
  font-family: inherit;
}
.underline {
  border-bottom: 2px white dotted;
}
#logo {
  width: 200px;
}
